# Left out of the package Composer installs (git archive / dist zips).
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/codeception.yml export-ignore
/composer.lock export-ignore
/docs export-ignore
/tests export-ignore
